@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

section {
    margin-left: 5rem;
    width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name {
    margin-top: 2rem;
    font-size: 3rem;
    color: rgb(223, 223, 223);
    text-align: center;
    letter-spacing: 1.5px;
}

.game-area {
    width: 31.25rem;
    height: 31.25rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    gap: 0.625rem;
}

.game-area::after{
    content: '';
    position: absolute;
    transition: 0.5s 0.25s;
}

.game-area.disabled {
    pointer-events: none;
} 

.game-area.disabled::after{
    content: '';
    position:absolute;
    inset: 0px;
    backdrop-filter: blur(2.5px);
    background-color: rgba(0, 0, 0, 0.574);
}

.game-area .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    transition: 0.2s;
}

.game-area .box .cross {
    font-size: 12rem;
    font-weight: 800;
    color: rgb(6, 255, 243);
    transform: rotate(45deg);
    user-select: none;
}

.game-area .box .circle {
    font-size: 11rem;
    font-weight: 600;
    color: rgb(255, 104, 129);
    margin-top: -1.5rem;
    user-select: none;
}

.game-area .box::after {
    content: '';
    position: absolute;
    width: 0px;
    transition: 0.25s;
}

.game-area .box.row {
    position: relative;
}

.game-area .box.row::after {
    content: '';
    position: absolute;
    width: 115%;
    height: 10px;
    background-color: darkgrey;
}

.game-area .box.column {
    position: relative;
}

.game-area .box.column::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 115%;
    background-color: darkgrey;
}

.game-area .box.dia {
    position: relative;
}

.game-area .box.dia::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 155%;
    background-color: darkgrey;
    transform: rotate(-45deg);
}

.game-area .box.diaopp {
    position: relative;
}

.game-area .box.diaopp::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 160%;
    background-color: darkgrey;
    transform: rotate(45deg);
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 22rem;
    padding: 10px;
    border-radius: 10px;
    background: rgb(236, 236, 236);
    position: relative;
}

.details.disappear {
    visibility: hidden;
}

.details .players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.details .players .x {
    color: rgb(0, 212, 202);
}

.details .players .o {
    color: rgb(255, 104, 129);
}

.details .players .x.active {
    border-bottom: 3px solid rgb(0, 212, 202);
    font-weight: 600;
}

.details .players .o.active {
    border-bottom: 3px solid rgb(255, 104, 129);
    font-weight: 600;
}

.details .scores {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


#Score_1 span,#Player_1 {
    color: rgb(0, 212, 202);
}

#Score_2 span,#Player_2 {
    color: rgb(255, 104, 129);
}

.details h2 {
    color: black;
    font-weight: 400;
    user-select: none;
    padding: 5px;
}

#reset {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.dialog {
    position: absolute;
    z-index: 100;
    padding: 40px;
    border-radius: 10px;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: max-content;
    background: rgb(247, 247, 247);
    transition: 0.2 0.5s;
    visibility: hidden;
}

.dialog h2 {
    font-weight: 400;
}

.dialog h2 span {
    font-weight: 600;
}

.dialog button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: white;
    width: 90%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    cursor: pointer;
}

.dialog.appear {
    visibility: visible;
}

@media (max-width:720px) {
    section {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    #name {
        margin-top: 0.5rem;
    }

    .game-area {
        zoom: 0.7;
    }

    .left {
        margin-top: 1.5rem;
    }

    .details {
        scale: 0.85;
    }

    .dialog {
        scale: 0.7;
    }
}